.el-table__header th {
  font-weight: bold;
  color: #252525;
  background: #fafafa;
}

//.el-table .el-table__header th {
//  background: var(--el-fill-color-light)!important;
//}

/* Drawer 抽屉
------------------------------- */
.el-drawer {
  --el-drawer-padding-primary: unset !important;

  .el-drawer__header {
    padding: 0 15px !important;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    border-bottom: 1px solid var(--el-border-color);
    color: var(--el-text-color-primary);
  }

  .el-drawer__body {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}