Django==4.2
django_filter==21.1
djangorestframework==3.14.0
djangorestframework_simplejwt==4.6.0
drf_yasg==1.21.7
Faker==8.11.0
Jinja2==3.0.3
jmespath==1.0.1
jsonpath==0.82
MySQL-python==1.2.5
pydantic==1.10.7
PyMySQL==1.0.2
pytest==7.4.0
PyYAML==5.3.1
PyYAML==6.0.1
redis==4.5.4
Requests==2.31.0
requests_toolbelt==0.9.1
rsa==4.7.2
simplejson==3.17.0
urllib3==1.22
