$dark_gray: #889aa4;
.login-btn{
  margin-top: 20px;
  width: 100%;
}
.show-pwd {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 16px;
  color: $dark_gray;
  cursor: pointer;
  user-select: none;
  ::v-deep(.svg-icon){
    vertical-align: 0;
  }
}
